@import "_font-face.styl"
@import "_libs.styl"
@import "_vars.styl"
@import "_header.styl"
@import "_content.styl"
@import "_footer.styl"

html, body
	height 100%

body
	font-size 16px
	min-width 320px
	position relative
	line-height 1.65
	font-family $default-font
	overflow-x hidden
	margin 0
	background #F8F9FB
	// background-color rgba(63, 171, 254, .05)

img
	display block
	max-width 100%
	height auto

ul 
	margin 0
	padding 0

li 
	list-style-type none

h1,h2,h3,
h4,h5,h6 
	margin 0
	padding 0
	
p 
	margin 0
	padding 0

a
	transition .2s color ease-in
	text-decoration none
	color $main
	&:hover 
		color $black

input:focus
	outline none
	
// Custom css
.wrapper
	max-width 1240px
	width 100%
	padding 0 15px
	margin 0 auto



@import "_media.styl" // Always at the end
